<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
	<div id="ctx">
		<table class="table">
			<tr>
				<td>
					单据编号
				</td>
				<td>
					<input v-model="bill.billno" name="billno">
				</td>
				<td>
					单据日期
				</td>
				<td>
					<input @change="handlerBillNo"  v-model="bill.billdate" type="date" name="billdate">
				</td>
			</tr>
			<tr>
				<td>
					供应商
				</td>
				<td>
					<input v-model="bill.suppliername" name="suppliername">
				</td>
				<td>
					供应商地址
				</td>
				<td>
					<input v-model="bill.supplieraddress" name="supplieraddress">
				</td>
			</tr>
			<tr>
				<td>
					部门
				</td>
				<td>
					<input v-model="bill.department" name="department">
				</td>
				<td>
					仓库
				</td>
				<td>
					<input v-model="bill.warehouse" name="warehouse">
				</td>
			</tr>
			<tr>
				<td>
					采购人员
				</td>
				<td>
					<input v-model="bill.buyer" name="buyer">
				</td>
				<td>
					制单人员
				</td>
				<td>
					<input v-model="bill.executor" name="executor">
				</td>
			</tr>
			<tr>
				<td>
					入库明细
				</td>
				<td colspan="3">
					<textarea v-model="details" name="details" rows="10" cols="80"></textarea>
				</td>
			</tr>
		</table>
		<table class="table">
			<tr>
				<td>
					单据编号
				</td>
				<td>
					日期
				</td>
				<td>
					供应商
				</td>
				<td>
					采购人员
				</td>
				<td>
					仓库
				</td>
				<td>
					总金额
				</td>
			</tr>
			<tr v-for="item in list" @click="handlerBill(item)">
				<td>
					{{item.billno}}
				</td>
				<td>
					{{item.billdate}}
				</td>
				<td>
					{{item.suppliername}}
				</td>
				<td>
					{{item.buyer}}
				</td>
				<td>
					{{item.warehouse}}
				</td>
				<td>
					{{item.sumprice}}
				</td>
			</tr>
		</table>
		<button @click="save">保存</button>
	</div>
	<script type="text/javascript" th:src="@{/js/jquery-1.12.4.js}"></script>
	<script type="text/javascript" th:src="@{/js/vue.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript">
		var vm = new Vue({
			el:"#ctx",
			data(){
				return {
					list:[],
					bill:{},
					details:""
				}
			},
			methods:{
				handlerBillNo(){
					var billdate = this.bill.billdate;
					var that = this;
					$.ajax({
						url:"[[@{/findMaxBillNo}]]",
						data:{billDate:billdate},
						dataType:"text",
						success:function(result){
							console.log(result);
							that.bill.billno = result;
						}
					})
				},
				handlerBill(bill){
					var that = this;
					$.ajax({
						url:"[[@{/findByBillNo}]]",
						data:{billno:bill.billno},
						dataType:"json",
						success:function(result){
							that.bill = result;
							that.details = JSON.stringify(result.details);
						}
					})
				},
				getList(){
					console.log("正在加载。。。");
					var that = this;
					$.ajax({
						url:"[[@{/find}]]",
						dataType:"json",
						success:function(result){
							that.list = result;
						}
					})
				},
				save(){
					var bill = this.bill;
					//将字符串转换成对象
					bill.details = JSON.parse(this.details);
					var that = this;
					$.ajax({
						url:"[[@{/create}]]",
						type:"post",
						data:JSON.stringify(bill),
						contentType:"application/json;charset=utf-8",
						success:function(result){
							
						}
					})
				}
			},
			created(){
				this.getList();
			}
		})
	
	</script>
</body>
</html>